{% extends 'base.html' %}
{% block content %}
<div class="container-lg mt-3">
  <h1>Сайты</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
      <thead>
        <tr>
          <th>ID</th>
          <th>Имя</th>
          <th>Последняя проверка</th>
          <th>Код ответа</th>
        </tr>
      </thead>
      <tbody>
        {% for url in urls %}
        {% set last_check = url.url_checks|first %}
        <tr>
          <td>{{ url.id }}</td>
          <td>
            <a href="{{ url_for('url_page', id=url.id) }}">
              {{ url.name }}
            </a>
          </td>
          <td>
            {% if last_check %}
              {{ last_check.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
            {% else %}
              Не проверялся
            {% endif %}
          </td>
          <td>
            {% if last_check %}
              {{ last_check.status_code }}
            {% else %}
              —
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
